body, html { margin: 0; padding: 0; height: 100%; }
.full-screen-bg { 
    background-image: url('../images/labo.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}